body{font-family:Cormorant,serif}
p{text-align:justify;margin:0;text-indent:1em;}
p:first-child{text-indent:0}
em{font-style: italic}
.thought{font-family:CormorantUpright,serif;}
em em{text-transform: uppercase}
.parsel{voice-stress: moderate; voice-rate: fast;font-family:CormorantUpright,serif;}
.hand{font-family:CormorantUpright,serif;}
.print{text-align:center;font-family:CormorantSC,serif}
.print p{text-align:center}
.shout{text-transform: uppercase}
blockquote{margin: 1em 2em;padding:1em;box-shadow: 0 0 .4em rgba(0, 0, 0, 0.3);}
blockquote p{margin: .5em 0;text-indent: 0}
table{margin:auto}
td{text-align:left;padding:0 .5ex;}
td:first-child{text-align:right}

blockquote.memory{margin:0;font-style: italic;box-shadow:none}
blockquote.memory p{text-align:justify;margin:0;text-indent:1em;}
blockquote.memory p em{font-style: normal;}

hr {border:none;background:none;height:1em;margin:0;text-align:center;color:inherit}

.ps:after{content:"s"; speak: none}

.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
}
.calibre1 {
    display: block
}
.calibre2 {
    display: block;
    margin: 1em 0
}
.calibre3 {
    font-weight: bold
}
.calibre4 {
    font-style: italic
}
.calibre5 {
    color: gray;
    display: block;
    height: 2px;
    border-top: currentColor solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px;
    margin: 0.5em auto
}
.calibre6 {
    display: block
}
.calibre7 {
    text-align: center;
}
.calibre8 {
    text-decoration: underline;
    text-transform: uppercase;
}
h1 {
    display: block;
    font-size: 2em;
    font-weight: lighter;
    line-height: 1.2;
    font-family: HennyPenny,cursive;
    margin: 0.67em 0;
    text-align:center
}

@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/Cormorant-Regular.ttf");
}
@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: normal;
    src: url("../Fonts/Cormorant-Italic.ttf");
}
@font-face {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: bold;
    src: url("../Fonts/Cormorant-Bold.ttf");
}
@font-face {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: bold;
    src: url("../Fonts/Cormorant-BoldItalic.ttf");
}
@font-face {
    font-family: 'CormorantSC';
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/CormorantSC-Regular.ttf");
}
@font-face {
    font-family: 'CormorantSC';
    font-style: normal;
    font-weight: bold;
    src: url("../Fonts/CormorantSC-Bold.ttf");
}
@font-face {
    font-family: 'HennyPenny';
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/HennyPenny-Regular.ttf");
}
@font-face {
    font-family: 'CormorantUpright';
    font-style: italic;
    font-weight: normal;
    src: url("../Fonts/Cormorant-Italic.ttf");
}
@font-face {
    font-family: 'CormorantUpright';
    font-style: italic;
    font-weight: bold;
    src: url("../Fonts/Cormorant-BoldItalic.ttf");
}
@font-face {
    font-family: 'CormorantUpright';
    font-style: normal;
    font-weight: normal;
    src: url("../Fonts/CormorantUpright-Regular.ttf");
}
@font-face {
    font-family: 'CormorantUpright';
    font-style: normal;
    font-weight: bold;
    src: url("../Fonts/CormorantUpright-Bold.ttf");
}