p{text-align:justify;margin:0;text-indent:1em;}
p:first-child{text-indent:0}
em, .thought{font-style: italic}
em em{text-transform: uppercase}
.thought em{font-style: normal;}
.parsel{font-stretch: condensed}
.hand{font-style: italic}
.print{text-align:center;font-variant: small-caps}
.print p{text-align:center}
.shout{text-transform: uppercase}
.left{display:inline-block; width: calc(50% - 1em); text-indent: 0; text-align:right;vertical-align: top}
.right{display:inline-block; width: calc(50% - 1em); text-indent: 0; text-align:left;vertical-align: top}
blockquote{margin: 1em 2em}
blockquote p{margin: .5em 0;text-indent: 0}

blockquote.memory{margin:0;font-style: italic}
blockquote.memory p{text-align:justify;margin:0;text-indent:1em;}
blockquote.memory p em{font-style: normal;}

hr {border:none;background:none;height:1em;margin:0;text-align:center;color:inherit}

.ps:after{content:"s"}

.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    margin: 1em 0
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    color: gray;
    display: block;
    height: 2px;
    border-top: currentColor solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px;
    margin: 0.5em auto
    }
.calibre6 {
    display: block
    }
.calibre7 {
    text-align: center;
    }
.calibre8 {
    text-decoration: underline;
    text-transform: uppercase;
    }
h1 {
    display: block;
    font-size: 2em;
    font-weight: lighter;
    line-height: 1.2;
    font-style: italic;
    margin: 0.67em 0;
    text-align:center
    }
