p{text-align:justify;margin:0;}
p+p{text-indent:1em;}
p+hx+p{text-indent:1em;}
em, .thought{font-style: italic}
em em{text-transform: uppercase}
.thought em{font-style: normal;}
.parsel{font-stretch: condensed}
.hand{font-style: italic; margin: .5em 2em}
.hand p{text-indent: 0; margin: .5em 0}
.print{font-variant: small-caps;  margin: .5em 2em; text-align:center}
.print p{text-indent: 0; margin: .5em 0; text-align:center}
.shout{text-transform: uppercase}
.left{display:inline-block; width: calc(50% - 1em); text-indent: 0; text-align:right;}
.right{display:inline-block;  width: calc(50% - 1em); text-indent: 0; text-align:left;}
blockquote{margin: 0;}

hr {border:none;background:none;height:1em;margin:1.5em 0;text-align:center;color:inherit}
hr::before{content:"⁂"}

.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    margin: 1em 0
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    color: gray;
    display: block;
    height: 2px;
    border-top: currentColor solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px;
    margin: 0.5em auto
    }
.calibre6 {
    display: block
    }
.calibre7 {
    text-align: center;
    }
.calibre8 {
    text-decoration: underline;
    text-transform: uppercase;
    }
.chapter {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
